<!DOCTYPE html>
<head>

	<title>cabbage</title>

	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato|Ubuntu+Mono">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="flexboxgrid.min.css">
	<link rel="stylesheet" href="style.css">

</head>
<body>

	<header class="container">
		<h1>cabbage</h1>
	</header>

	<main class="container">
		<section id="projects" class="row">
			<h2 class="col-xs-12">Projects</h2>

			<div class="col-xs-12">
				<button v-on:click="newProject = typeof newProject === 'object' ? false : { servers: {} }">Create a new Project</button>
			</div>

			<div class="col-xs-12">
				<div class="row new form" v-if="newProject">

					<!--<h4 class="col-xs-12">New Project</h4>-->

					<div class="col-xs-12">
						<input placeholder="Name" v-model="newProject.name">
					</div>

					<div class="col-xs-12">
						<div class="row" v-for="server in servers">
							<div class="col-xs-1">
								<input type="checkbox" v-model="newProject.servers[server.id]">
							</div>

							<div class="col-xs-11">{{server.name}}</div>
						</div>
					</div>

					<div class="col-xs-6">
						<input placeholder="Repository" v-model="newProject.repo">
					</div>

					<div class="col-xs-6">
						<input placeholder="Directory" v-model="newProject.directory">
					</div>

					<div class="col-xs-12">
						<button v-on:click="createProject(newProject)">Create</button>
					</div>
				</div>
			</div>

			<div class="col-xs-12">
				<div class="row list">
					<div v-for="project in projects" class="col-xs-12 col-lg-6">
						<div class="project row">
							<h3 class="col-xs-8">{{project.name}}</h3>

							<div class="col-xs-4">
								<a href="#" v-on:click="deleteProject(project)" class="delete">Delete</a>
							</div>

							<h4 class="col-xs-12">{{project.repo}}</h4>

						</div>
					</div>
				</div>
			</div>
		</section>

		<section id="servers" class="row">
			<h2 class="col-xs-12">Servers</h2>

			<div class="col-xs-12">
				<button v-on:click="newServer = typeof newServer === 'object' ? false : {}">Create a new Server</button>
			</div>

			<div class="col-xs-12">
				<div class="row new form" v-if="newServer">

					<!--<h4 class="col-xs-12">New Server</h4>-->

					<div class="col-xs-12">
						<input placeholder="Name" v-model="newServer.name">
					</div>

					<div class="col-xs-6">
						<input placeholder="Address" v-model="newServer.address">
					</div>

					<div class="col-xs-6">
						<input placeholder="Port" v-model="newServer.port">
					</div>

					<div class="col-xs-6">
						<input placeholder="Username" v-model="newServer.username">
					</div>

					<div class="col-xs-6">
						<input placeholder="Password" v-model="newServer.password">
					</div>

					<div class="col-xs-12">
						<button v-on:click="createServer(newServer)">Create</button>
					</div>
				</div>
			</div>

			<div class="col-xs-12">
				<div class="row list">
					<div v-for="server in servers" class="col-xs-12 col-lg-6">
						<div class="server row">
							<h3 class="col-xs-8">{{server.name}}</h3>

							<div class="col-xs-4">
								<a href="#" v-on:click="deleteServer(server)" class="delete">Delete</a>
							</div>

							<h4 class="col-xs-12">{{server.username}}@{{server.address}}:{{server.port}}</h4>
						</div>
					</div>
				</div>
			</div>
		</section>
	</main>

	<script src="bundle.js"></script>
</body>
